################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/Projects/NDMockExamples/obj/Debug
/BuildModelResult.xml
/BuildModelResult.log
